@font-face {
    font-family: Exo;
    src: url(../doc/Exo2.otf);
}
body {
    font-family: Exo, serif;
    background-image: url("../img/background.png");
}
h1 {
    color: white;
    font-size: 48px;
    text-align: center;
    margin: 5px;
}
p {
    font-size: 24px;
    color: white;
}
#main {
    margin-top: 0;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #3b3249;
    padding: 5px;
    border-radius: 0 0 8px 8px;
    display: revert;
    text-align: justify;
}
#title {
    margin-top: 80px;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #34323e;
    padding: 5px;
    border-radius: 8px 8px 0 0;
    background-image: url("../img/BG.png");
}
#header1 {
    background-color: #362b6f;
    position: fixed;
    width: 100%;
    height: 58px;
    top: 0;
    right: 0;
    left: 0;
    background-image: url("../img/BGheader.png");
    display: flex;
}
#header2 {
    background-color: #362b6f;
    position: fixed;
    width: 100%;
    height: 58px;
    top: 0;
    margin-left: 5%;
    background-image: url("../img/BGheader.png");
    display: flex;
}
#header3_left {
    background-color: #362b6f;
    position: fixed;
    width: 50%;
    height: 58px;
    top: 0;
    display: flex;
    background-image: url("../img/BGheader.png");
}
#header3_right {
    background-color: #362b6f;
    position: fixed;
    width: 450px;
    height: 58px;
    top: 0;
    display: flex;
    right: 0;
    background-image: url("../img/BGheader.png");
    text-align: right;
}
img.logo {
    width: 58px;
    height: 58px;
}
#navigate {
    padding: 0 0 2px 0;
    margin-top: 17px;
    font-size: 20px;
    margin-left: 10px;
}
a {
    margin: 0 17px 0 8px;
}
a:link {
    color: #ffffff;
    text-decoration: none;
}
a:visited {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #adadad;
    text-decoration: none;
}
a:active {
    color: #735aff;
    text-decoration: none;
}
h1.head {
    text-align: center;
}